// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: rgb(235, 67, 1);
$orange-light: rgba(235, 67, 1, 0.6);
$green: #1EDD88;
$black: #000000;
$light-gray: #deded4;
$dark-gray: #4d4d4d;
