// In this file we set the style for the application form page and the style for the forms themselves.
.apply-text {
  text-align: justify;
}

.main-container {
  height: 100vh;
  width: 100%;


  .registration-form {
    background-color: $light-gray;
    padding: 20px 20px;

    .registration-form-inner {
      position: relative;
      border: 2px solid $orange;
      background-color: $light-gray;
      padding: 20px 20px;
      background-image: url('LogoNeroContinuo1');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.5s;

      h1 {
        color: $orange;
        text-align: center;
        // text-decoration: underline;
        font-family: Georgia, serif !important;
      }

      h2, h3, h4, h5, h6 {
        color: $orange;
        text-align: center;
        text-decoration: underline;
        font-family: Georgia, serif !important;
      }

      .birthday {
        margin-top: 33px !important;
        width: 90%;

        @media (max-width: 960px) {
          margin-top: 0px !important;

        }
      }

      .form {
        background-color: transparent;
        z-index: 100;
      }
    }

    .input-btn {
      margin-top: 20px;
      // margin-left: 48px;
      text-align: center;

      &:hover {
        background-color: $black;
        color: $light-gray !important;
      }
    }
  }
}

.important-information {
  color: $light-gray;
}

.d-links {
  a {
    color: $orange !important;
    text-decoration: underline;
  }
}

.card-button {
  background-color: black !important;
  color: white;

  &:hover {
    color: $orange !important;
  }
}

.text-apply {
  text-align: justify;
  height: 71vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  display: block;
  color: $light-gray;
  background-color: black;
}

#phoneNoShow {
  @media (max-width: 600px) {
    display: none;
  }
}


@media (min-width: 768px) {
  #phoneShow {
    display: none;
  }
}

.logo-apply {
  width: 200px;
}
