// Home sections Style
.home-text {
  text-align: justify;
}

.first-container-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  background-image: url('https://images.unsplash.com/photo-1595348514401-eca68a3bea33?q=80&w=2372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: 60px -90px;
  background-repeat: no-repeat;

  .full-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent; /* Color for the full screen */

  }

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: $light-gray;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .text {
      svg {
        margin-top: 130px;
        margin-right: 20px;

      }
      text-align: center;
      // font-family: Georgia, serif !important;
      font-family: 'Times New Roman', Times, serif !important;
    }
  }

  @media (max-width: 560px) {
    overflow: hidden;
    background-position: center 50px;
  }

}

.second-section-home-regulation {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: $orange;
  background-color: $light-gray;

  .image {
    img {
      width: 350px;
      opacity: 0.3;
      position: absolute;
      right: 100px;
      top: 300px;
    }
  }

  .second-section-home-regulation-image {
    width: 60%;
    margin: auto;
    text-align: center;

    img {
      padding-top: 30px;
      width: 300px;
      margin: auto;

      @media (max-width: 560px) {
        padding-top: 10px;
        width: 200px;

      }
    }
  }

  .second-section-home-regulation-content {
    margin: auto;
    width: 1000px;
    padding: 0;

    @media (max-width: 1125px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    @media (max-width: 560px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  h1 {
    font-family: Georgia, serif !important;
    text-align: center;
    padding-top: 50px;
    color: #000000;

    @media (max-width: 1125px) {
      padding-top: 30px;
      margin: 0;
    }
    @media (max-width: 560px) {
      padding-top: 30px;
      margin: 0;
    }
  }

  h5 {
    text-indent: 30px;
    text-decoration: underline;
    color: #000000;
  }

  p {
    padding-top: 20px;
    color: #000000;
    font-size: 16px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 4.5vw;
      margin: 0;
    }
  }

  ul {
    color: #000000;

    @media (max-width: 560px) {
      font-size: 4.3vw;
      margin: 0;
    }

    li {
      @media (max-height:650px) {
        font-size: 14px;
      }
    }
  }
}

.second-section-home-whoAreWe {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: $light-gray !important;
  background-color: $black;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;

  .second-section-home-whoAreWe-image {
    width: 60%;
    margin: auto;
    text-align: center;

    img {
      padding-top: 30px;
      width: 300px;
      margin: auto;

      @media (max-width: 560px) {
        padding-top: 10px;
        width: 200px;

      }
    }
  }

  .second-section-home-whoAreWe-content {
    width: 1000px;
    margin: auto;

    @media (max-width: 1125px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    @media (max-width: 560px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .text {
      z-index: 0;
    }

    .image {
      img {
        width: 40%;
        position: absolute;
        z-index: 1000;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%);

        @media (max-height: 795px) {
          top: 80%;
          width: 20%;
          z-index: 0 !important;
        }

        @media (max-width:1125px) {
          top: 80%;
          width: 40%;
          z-index: 0 !important;
        }
        @media (max-height:700px) {
          width: 30%;
          z-index: 0 !important;
          top: 75%;
        }
        @media (max-width:560px) {
          z-index: 0 !important;
          opacity: 1;
          top: 81.5%;
          width: 80%;
        }
      }
    }
  }

  h1 {
    font-family: Georgia, serif !important;
    text-align: center;
    padding-top: 50px;
    color: $light-gray !important;

    @media (max-width: 1125px) {
      padding-top: 30px;
      margin: 0;
    }
    @media (max-width: 560px) {
      padding-top: 30px;
      margin: 0;
    }
  }


  h5 {
    text-indent: 30px;
    text-decoration: underline;
    color: $light-gray !important;
  }

  p {
    padding-top: 30px;
    color: $light-gray !important;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 4.5vw;
      margin: 0;
    }
  }

  ul {
    padding-top: 50px;
    color: #000000;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 16px;
      margin: 0;
    }
  }
}

.second-section-home-practicalInfo {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: $orange;
  background-color: $light-gray;

  .second-section-home-practicalInfo-image {
    width: 60%;
    margin: auto;
    text-align: center;

    img {
      padding-top: 30px;
      width: 300px;
      margin: auto;


      @media (max-width: 560px) {
        padding-top: 10px;
        width: 200px;

      }
    }
  }

  .second-section-home-practicalInfo-content {
    margin: auto;
    width: 1000px;
    padding: 0;

    .images {
      display: flex;
      justify-content: space-around;
      margin-top: 24px;
      @media (max-width: 760px) {
        display: block;
        margin: auto;
        margin-top: 18px !important;
      }

      @media (max-height: 740px) {
        margin-top: 0;
      }

      .image-div {
        width: 30vw;
        height: 22.5vw; /* Adjust height as needed */
        background-image: url('/assets/espaceAlbertCamus1-0195d58e682284b53c56c5dac90c0b78e7ce8683f7274d0887071ca9f68973bb.jpeg'); /* Ensure the path to your image is correct */
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */

        @media (max-width: 560px) {
          width: 250px;
          height: 125px;
        }

        @media (max-height: 740px) {
          width: 300px;
          height: 200px;
        }
      }

      .image-div1 {
        width: 30vw;
        height: 22.5vw; /* Adjust height as needed */
        background-image: url('/assets/espaceAlbertCamus2-12351c9885bcd45c54f6491071ae0b1a6539fd29a45e6bb23d14768630b0c099.jpeg'); /* Ensure the path to your image is correct */
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */

        @media (max-width: 560px) {
          width: 250px;
          height: 125px;
          margin-top: 10px;
        }
        @media (max-height: 740px) {
          width: 300px;
          height: 200px;
        }
      }

    }

    @media (max-width: 1125px) {
      width: 100%;
      padding: 0;
      margin: 0;

    }
    @media (max-width: 560px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  h1 {
    font-family: Georgia, serif !important;
    text-align: center;
    padding-top: 30px;
    color: #000000;

    @media (max-width: 1125px) {
      padding-top: 30px;
      margin: 0;
    }
    @media (max-width: 560px) {
      padding-top: 30px;
      margin: 0;
    }
  }

  h5 {
    text-indent: 30px;
    text-decoration: underline;
    color: #000000;
  }

  p {
    padding-top: 30px;
    color: #000000;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 4.5vw;
      margin: 0;
    }
  }

  ul {
    padding-top: 50px;
    color: #000000;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 16px;
      margin: 0;
    }
  }
}

.second-section-home-ourPartners {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: $light-gray !important;
  background-color: $black;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;


  .second-section-home-ourPartners-image {
    width: 60%;
    margin: auto;
    text-align: center;

    img {
      padding-top: 30px;
      width: 300px;
      margin: auto;

      @media (max-width: 560px) {
        padding-top: 10px;
        width: 200px;

      }
    }
  }

  .second-section-home-ourPartners-content {
    width: 1000px;
    margin: auto;
    padding: 0;

    @media (max-width: 1125px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    @media (max-width: 560px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  h1 {
    font-family: Georgia, serif !important;
    text-align: center;
    padding-top: 50px;
    color: $light-gray !important;

    @media (max-width: 1125px) {
      padding-top: 30px;
      margin: 0;
    }
    @media (max-width: 560px) {
      padding-top: 30px;
      margin: 0;
    }
  }

  h5 {
    text-indent: 30px;
    text-decoration: underline;
    color: $light-gray !important;
  }

  p {
    padding-top: 50px;
    color: $light-gray !important;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 4.5vw;
      margin: 0;
    }
  }

  ul {
    padding-top: 50px;
    color: $light-gray !important;
    font-size: 18px;
  }
}

.second-section-home-media {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  display: block;
  color: $orange;
  background-color: $light-gray;

  .second-section-home-media-image {
    width: 60%;
    margin: auto;
    text-align: center;

    img {
      padding-top: 30px;
      width: 300px;
      margin:auto;

      @media (max-width: 560px) {
        padding-top: 10px;
        width: 200px;

      }
    }
  }

  .second-section-home-media-content {
    margin: auto;
    width: 1000px;
    padding: 0;

    @media (max-width: 1125px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    @media (max-width: 560px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .image {
      width: 100%;
      margin: auto;
      text-align: center;
      @media (max-width: 560px) {
        margin-top: 30px;
      }

      .image1 {
        margin: auto;
        width: 400px;
        height: 300px; /* Adjust height as needed */
        background-image: url('/assets/alm-e0c43c463c7acf83906ea1e0231ca08ffecd7a4a273e00179860d2b873760fe4.jpeg'); /* Ensure the path to your image is correct */
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        margin-top: 20px;

        @media (max-width: 560px) {
          width: 250px;
          height: 200px;
        }
        @media (max-height: 750px) {
          width: 220px;
          height: 170px;
          margin-top: 0px;
        }


      }

      // img {
      //   width: 100%;
      // }
    }
  }

  h1 {
    font-family: Georgia, serif !important;
    text-align: center;
    padding-top: 50px;
    color: #000000;

    @media (max-width: 1125px) {
      padding-top: 30px;
      margin: 0;
    }
    @media (max-width: 560px) {
      padding-top: 30px;
      margin: 0;
    }
  }

  h5 {
    text-indent: 30px;
    text-decoration: underline;
    color: #000000;
  }

  p {
    padding-top: 50px;
    color: #000000;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 4.5vw;
      margin: 0;
    }
  }

  ul {
    padding-top: 50px;
    color: #000000;
    font-size: 18px;

    @media (max-width: 560px) {
      padding-top: 20px;
      font-size: 16px;
      margin: 0;
    }
  }
}

// Icon to get the top of the page
#backToTop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1010;
  padding: 20px;
  background-color: rgba(235, 67, 1, 0.6);
  color: $light-gray;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0;

  &:hover {
    background-color: $black;
  }

  a {
    color: $light-gray;
    text-decoration: none;
  }
}
