.cont-partners {
  display: flex;
  overflow: hidden;
  padding-top: 10px;
  width: 80%;

  @media (max-width: 560px) {
    width: 100%;
    padding: 0;
    display: block;
    justify-content: start;
    align-items: start;
  }

  .partners {
    display: block;
    width: 100%;
    height: 80vh;
    background-image: url('PARTENAIRES2024.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    margin-top: 2px;

    @media (max-width: 560px) {
      display: block;
      width: 100%;
      height: 73vh;
      background-image: url('PARTENAIRES2024.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
    }
  }

  a {
    position: absolute;
    top: 100px;
    z-index: 1000;
    left: 75px;
    color: red !important;
    text-decoration: none !important;
  }
}
