
@mixin partners-base {
  display: block;
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-top: 2px;
  filter: grayscale(100%);
}

@mixin partners-mobile {
  display: block;
  width: 100%;
  height: 73vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.cont-partners {
  display: flex;
  overflow: hidden;
  padding-top: 10px;
  width: 80%;
  max-height: 800px;

  @media (max-width: 560px) {
    width: 100%;
    padding: 0;
    display: block;
    justify-content: start;
    align-items: start;
  }

  .partners-2024 {
    @include partners-base;
    background-image: url('PARTENAIRES2024.png');
    max-height: 580px;

    @media (max-width: 560px) {
      @include partners-mobile;
      /* background-image remains the same */
    }
  }

  .partners-2025 {
    @include partners-base;
    background-image: url('PARTENAIRES2025.png');
    max-height: 580px;

    @media (max-width: 560px) {
      @include partners-mobile;
      /* background-image remains the same */
    }

  }
  .partners-2026 {
    @include partners-base;
    background-image: url('PARTENAIRES2026.png');
    max-height: 580px;

    @media (max-width: 560px) {
      @include partners-mobile;
      /* background-image remains the same */
    }
  }

  a {
    position: absolute;
    top: 100px;
    z-index: 1000;
    left: 75px;
    color: red !important;
    text-decoration: none !important;
  }
}
