.form-details {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-meta {
  margin-bottom: 10px;
}

.individual-info, .group-info {
  margin-top: 20px;
}

h4 {
  font-size: 1.2em;
  margin-top: 10px;
}

.participant-info {
  padding-left: 20px;
  margin-bottom: 10px;
}
