<html>
  <body>
    <div style="background-color:rgb(222, 222, 212); border-radius: 10px; padding: 20px; width: 50%; margin: 0 auto; color:black;">
      <!-- Header Section with Logo -->
      <table width="100%" cellpadding="0" cellspacing="0" style="background-color:rgb(0, 0, 0); border-top-right-radius:10px; border-top-left-radius:10px; text-align: center; padding: 20px;">
        <tr>
          <td align="center">
            <img src="cid:LogoFullOrange1.png" alt="Concours Entrelacé" style="width: 50%; display: block; margin: 0 auto;">
          </td>
        </tr>
      </table>
      <div style="margin-top: 20px;">
        <h3 style="">Bienvenue au Concours Entrelacé, <%= @user.name.capitalize %> <%= @user.last_name.capitalize%>!</h3>
        <p>Nous sommes ravis de vous accueillir parmi nous.</p>
        <p>Votre inscription sur notre plateforme est bien enregistrée, et nous sommes impatients de vous accompagner dans cette aventure.</p>

        <h2 style="font-size: 20px; color: rgb(235, 67, 1); margin-top: 20px;">Quelques informations importantes :</h2>
        <ul style="padding-left: 20px;">
          <li><strong>Dates clés de la compétition :</strong> 19 & 20 AVRIL 2025</li>
          <li><strong>Lieu de l’événement :</strong> Espace Albert Camus, 1 rue Maryse Bastié, 69500, BRON</li>
          <%# <li><strong>Horaires :</strong> [Ajoutez les plages horaires]</li> %>
          <li><strong>Règlement et programme :</strong> <a href="https://www.concours-entrelace.com/regulation?locale=fr" style="color: rgb(235, 67, 1); text-decoration: none;">Cliquez ici</a></li>
        </ul>

        <h2 style="font-size: 20px; color: rgb(235, 67, 1); margin-top: 20px;">Votre inscription</h2>
        <p>Vous pouvez à tout moment consulter et vérifier vos informations d’inscription via votre espace personnel :</p>
        <p style="text-align: center; margin: 20px 0;">
            <a href="<%= @url %>" style="background-color: rgb(235, 67, 1); color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Accéder à mon compte</a>
        </p>
        <p>Si certaines informations sont manquantes ou incomplètes, vous aurez la possibilité de les corriger facilement depuis cette interface. Veillez à ce que tout soit à jour pour valider définitivement votre participation.</p>

        <h2 style="font-size: 20px; color: rgb(235, 67, 1); margin-top: 20px;">Nous sommes à votre disposition</h2>
        <p>Nous tenons à vous remercier chaleureusement d’avoir choisi notre compétition. C’est un honneur de vous accueillir dans cette édition, et nous ferons tout notre possible pour rendre cette expérience mémorable pour vous.</p>
        <p>Si vous avez la moindre question ou si vous rencontrez un problème, n’hésitez pas à nous écrire à : <a href="mailto:concours.entrelace@gmail.com" style="color: rgb(235, 67, 1); text-decoration: none;">concours.entrelace@gmail.com</a>.</p>
        <p>Nous sommes là pour vous aider.</p>
        <p>En attendant le jour de la compétition, nous vous souhaitons une excellente préparation et une très belle journée !</p>

        <p style="margin-top: 30px;">Avec toute notre considération,</p>
        <p><strong>Almendra Navarro</strong><br>Directrice Artistique du Concours Entrelacé</p>
      </div>
    </div>
  </body>
</html>
