<html>
  <body>
    <h1>Bienvenue au Concours Entrelacé, <%= @user.name.capitalize %> <%= @user.last_name.capitalize%>!</h1>
    <p>Nous sommes ravis de vous accueillir parmi nous.</p>
    <p>Vous pouvez vous connecter à votre compte ici :</p>
    <p><a href="<%= @url %>">Se connecter</a></p>
    <p>Merci de faire partie de notre communauté !</p>
    <p>Meilleures salutations,<br>L'équipe du Concours Entrelacé</p>
  </body>
</html>
