<!--
<div class="expandable-div-left">
  <div class="content">
    <%= image_tag "logoLightGray.png", width:"90px" %>
    <p style="padding-top:30px"><a href="/">Home</a></p>
    <p><a href="/apply">Apply</a></p>
    <p style="padding-bottom:30px"><a href="/contact">Contacts</a></p>
    <%= image_tag "dividerGray.png", width:"150px" %>
  </div>
</div>
-->
<%= t('expandable_div_left.content').html_safe %>
