<div class="container mt-5">
  <div class="d-flex justify-content-between ">
    <%= link_to "Back", :back, style:"color:white" %>
    <a href="/pdfs/AUTORISATION-DE-PARTICIPATION-CANDIDAT-MAJEUR.pdf" download="AUTORISATION-DE-PARTICIPATION-CANDIDAT-MAJEUR.pdf">Download AUTORISATION DE PARTICIPATION CANDIDAT MAJEUR</a>
    <a href="/pdfs/AUTORISATION-DE-PARTICIPATION-CANDIDAT-MINEUR.pdf" download="AUTORISATION-DE-PARTICIPATION-CANDIDAT-MINEUR.pdf">Download AUTORISATION DE PARTICIPATION CANDIDAT MINEUR</a>
  </div>
  <div class="row mt-3 d-flex justify-content-center">
      <div class="col-md-4 mb-3 m-auto text-center">
        <div class="card m-auto" style="background-color:#deded4; width:250px">
          <img src="https://tse3.mm.bing.net/th?id=OIP.ZycaMBQWoVbiLpurWZNIdAAAAA&pid=Api" style="height:300px !important" >

          <div class="card-body" >
            <h5 class="card-title">Group Registration Form</h5>
            <div class="d-flex justify-content-around flex-column">
              <p class="card-text">Min 2 partecipants</p>
              <p class="card-text mb-0" >Please make sure to fill up all the boxes</p><br>
              <a href="/group_forms/new" class="btn" style="background-color:black !important; color:white">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 m-auto text-center">
        <div class="card m-auto" style="background-color:#deded4; width:250px">

          <img src="https://tse4.mm.bing.net/th?id=OIP.Wu1mNIZCTS8RsYAMIcgtJQHaLG&pid=Api" style="height:300px !important" >
          <div class="card-body">
            <h5 class="card-title">Individual Registration Form</h5>
            <div class="d-flex justify-content-around flex-column">
              <p class="card-text" >Solo</p>
              <p class="card-text mb-0">Please make sure to fill up all the boxes</p><br>
              <a href="/individual_forms/new" class="btn" style="background-color:black !important; color:white">View</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
