<div class="container mt-5">
  <div style="display:flex; justify-content:center; flex-direction:column; align-items:center">
    <div class="avatar-logo-continous avatar-confirmation"></div>
    <p style="font-size:40px; margin-top:50px">Formulaire créé avec succès ✅</p>
    <p style="margin-top: 40px; width: 80%; text-align: center; font-size: 20px">
      Un e-mail contenant toutes les informations nécessaires vous a été envoyé.
      Veuillez vérifier votre boîte de réception, ainsi que vos spams, au cas où l'e-mail y aurait été redirigé.
    </p>
    <p>
      Un second message vous sera envoyé après l’étude de votre dossier avec les informations de paiement.
    </p>
    <%= link_to "Retour à la page d’accueil", root_path, style: "color:rgb(235, 67, 1); margin:140px;text-decoration:none;font-size:20px" %>
  </div>
</div>
