<div class="container mt-5">
  <div style="display:flex; justify-content:center; flex-direction:column; align-items:center">
    <%= image_tag 'fullLogoLightGray.png', width:"500px"%>
    <p style="font-size:40px; margin-top:50px">Formulaire créé avec succès ✅</p>
    <%= link_to "Retour à la page d’accueil", root_path, style: "color:rgb(235, 67, 1); margin:140px;text-decoration:none;font-size:20px" %>
  </div>
</div>
