<div class="container partners">
  <%# <%= link_to "Back", :back, style:"color:white" %>
  <%# <h1>OUR PARTNERS</h1> %>
  <%= image_tag "PARTENAIRES2024.png" %>
</div>
<%= render "shared/footer_fixed" %>
