<%= render "shared/navbar"%>
<div class="container">
  <div class="d-flex justify-content-around clearfix">
    <div style="padding:10px 5px; width:68%; text-align:justify">
      <h2 style="color:rgb(235, 67, 1);text-align:center">Denis Lamaj</h2>
      <p>Né à Tirana, en Albanie, Denis Lamaj commence la danse à l'âge de 9 ans à l'École Nationale de Danse de son pays natal. Il poursuit sa formation au Conservatoire National Supérieur de Danse de Lyon (CNSMD), où il obtient le diplôme de DNSPD.</p>
      <p>Il débute sa carrière professionnelle avec le Ballet de l’Opéra National du Rhin. Il a ensuite travaillé pour plusieurs compagnies, telles que Les Ballets de France et la Cie Alan Marty, en tant que soliste, avec des tournées en France, en Europe et à l’étranger. Par la suite, il danse pour l’Opéra de Reims et l’Opéra de Lyon avant d’obtenir le diplôme d’État.</p>
      <p>Depuis 2016, Denis est régulièrement invité à donner des stages dans différentes écoles en France, en Suisse et au Mexique.</p>
      <p>Il enseigne la danse classique depuis 2019 dans diverses écoles et centres de formation, où il prépare des élèves à l’EAT et aux concours de danse internationaux.</p>
      <p>Denis a été invité à plusieurs reprises en tant que membre du jury pour divers concours tels que Les Espoirs de la Danse à Montpellier et Area Competition à Marseille.</p>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="width:18%">
      <img src="/assets/denisPortrait-b708cb5b46b6d4dbb757bd8a6325c95168f70cc5af61cb6346c9011bf9cd8f61.png" alt="" width="200px" style="border:1px solid rgba(235, 67, 1, 0.6);">
    </div>
  </div>
  <div class="divider">
    <img src="/assets/dividerGray-573e96d15615aa95b04fdcad4ef272d99fdfe70874c70405bec659e429c32df4.png">
  </div>
  <div class="d-flex justify-content-around clearfix" >
    <div class="d-flex align-items-center justify-content-center" style="width:18%;">
      <img src="assets/almendraPortrait-250fd2c254518bf55c68608ae4460a89e6d05a6c52df7fa4487fb045fa4782d5.png" alt="" width="200px" style="border:1px solid rgba(235, 67, 1, 0.6);">
    </div>
    <div style="padding:10px 5px; width:68%; text-align:justify">
      <h2 style="color:rgb(235, 67, 1);text-align:center">Almendra Navarro</h2>
      <p>Née à Aguascalientes au Mexique, Almendra a commencé ses études à l’Université des Arts . Elle a participé à plusieurs concours au cours de sa formation où elle obtient des nombreux prix parmi les plus importants, finaliste au YAGP à NY aux éditions 2008 et 2010, le concours Roseta Mauri (médaille d'argent) et Tanzolymp 2011( finaliste).</p>
      <p>En 2010, elle reçoit une bourse au concours Attitude pour venir en France. Une année plus tard, elle est admise au Conservatoire National Supérieur de Danse de Lyon (CNSMD), où elle obtient son diplôme (DNSPD).</p>
      <p>Depuis, elle a fait partie de plusieurs compagnies en Europe, telles que le Ballet de l’Opéra de Dortmund, Les Ballets de France, l’Opéra de Lyon, et le Ballet de l’Opéra de Coblence, en tant que soliste.</p>
      <p>Almendra est régulièrement sollicitée pour donner des stages dans des écoles de danse en France et à l’étranger. Depuis l’obtention de son Diplôme d’État en 2020, elle enseigne dans diverses structures, couvrant des niveaux allant du loisir au pré-professionnel. Actuellement, depuis l'été 2024, elle admise à la formation au Certificat d'Aptitude.</p>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
