.avatar {
  width: 50px;
  // height: 50px;
  border-radius: 50%;

}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-logo-continous {
  width: 40px;           /* set whatever size you need */
  height: 40px;
  border-radius: 50px;
  margin: auto;
  background-color: #deded4; /* <- exact color */
  -webkit-mask: asset-url('logo-continous-black.png') center/contain no-repeat;
  mask: asset-url('logo-continous-black.png') center/contain no-repeat;
}

.avatar-confirmation {
  width: 250px;           /* set whatever size you need */
  height: 250px;
  border-radius: 50px;
  margin: auto;
  background-color: #deded4; /* <- exact color */
  -webkit-mask: asset-url('logo-continous-black.png') center/contain no-repeat;
  mask: asset-url('logo-continous-black.png') center/contain no-repeat;
}
