.button-home {
  width: 20%;
  margin: auto;
  text-decoration: none;
  display:  inline-block;
  background-color: rgba(63, 63, 63, 0.2);
  color: $black;
  border: 0.5px solid rgba(255, 255, 255, 0.774);
  outline: 0.5px solid rgba(0, 0, 0, 0.241);
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
  text-align: center;
  z-index: 10;
  margin-top:50px;
  box-shadow: 0px 21px 44px -12px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: -13px !important;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    box-shadow: 0px -11px 44px -12px rgba(0, 0, 0, 0.35);
    background-color: rgba(235, 67, 1, 0.6);
    color: $light-gray;
  }

  @media (max-width: 1400px) {
    display: block;
    width: 90%;
    font-size: 18px;
    z-index: 0;
  }

  @media (max-width:560px) {
    display: block;
    width: 90%;
    font-size: 18px;
    z-index: 0;
  }
}

.button {
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: $black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  z-index: 10;

  &:hover {
    background-color: $orange;
    color: $light-gray;
  }

  @media (max-width: 1125px) {
    display: block;
    width: 90%;
    font-size: 18px;
    z-index: 0;
  }

  @media (max-width:560px) {
    display: block;
    width: 90%;
    font-size: 18px;
    z-index: 0;
  }
}

.button-light-gray {
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  background-color: $light-gray;
  color: black;
  // border: 1.5px solid white;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(222, 222, 212, 0.35);
  z-index: 10;

  &:hover {
    background-color: $orange;
    color: $light-gray;
  }

  @media (max-width: 1125px) {
    display: block;
    z-index: 1;
    bottom: 5%;
  }

  @media (max-width:560px) {
    // bottom: 7%;
    // display: block;
    // z-index: 1;
    display: none;
  }
}

.button-home-gray {
  width: 20%;
  margin: auto;
  text-decoration: none;
  display:  inline-block;
  background-color: rgba(196, 196, 196, 0.35);
  color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.241);
  outline: 0.5px solid rgba(255, 255, 255, 0.774);
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
  text-align: center;
  z-index: 10;
  margin-top:50px;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 21px 44px -12px rgba(255, 255, 255, 0.35);

  &:hover {
    box-shadow: 0px -21px 44px -12px rgba(255, 255, 255, 0.35);
    background-color: rgba(235, 67, 1, 0.6);
    color: $light-gray;
  }

  @media (max-width: 1400px) {
    display: block;
    width: 90%;
    font-size: 18px;
    z-index: 0;
  }

  @media (max-width:560px) {
    display: block;
    width: 90%;
    font-size: 18px;
    z-index: 0;
  }
}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: $black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  &:hover {

    color: $black;
  }
}

.remove-participant {
  background-color: $red !important;
  border: 0.5px solid rgb(53, 0, 0) !important;
  margin-top: 3px;
}
