.expandable-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 400px;
  border-radius: 0 5px 5px 0;
  background-color: rgba(235, 67, 1, 0.6);
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Ensure contents are hidden */
  z-index: 1100;

  .container-expandable {
    padding: 0 10px 0 10px;
  }

  &:hover {
    width: 200px;
  }

  .content {
    // margin: auto;
    opacity: 0; /* Hide content initially */
    transition: opacity 0.3s ease-in-out;
    padding: 10px; /* Adjust padding as needed */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
    width: 190px;
    border-radius: 0 5px 5px 0;
    height: 390px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    .logo {
      width: 80px;           /* set whatever size you need */
      height: 80px;
      border-radius: 50px;
      margin: auto;
      background-color: #deded4; /* <- exact color */
      -webkit-mask: asset-url('logo-continous-black.png') center/contain no-repeat;
      mask: asset-url('logo-continous-black.png') center/contain no-repeat;
    }

    .divider{
      width: 150px;
    }

    p > a {
      color: $light-gray;
      text-decoration: none;
      border-bottom: 1 px solid transparent;
      padding-bottom: 5px;
      font-size: 20px;
      &:hover {
        color: $light-gray;
        border-bottom: 1px solid $white;
      }
    }
    p.padT {
      padding-top:30px;
    }
    p.padB {
      padding-bottom:30px;
    }
    &:hover  {
      opacity: 1; /* Show content on hover */
    }
  }

  @media (max-width: 560px) {
    display: none;

  }
}

.expandable-div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 650px;
  border-radius:  5px 0 0 5px ;
  background-color: rgba(235, 67, 1, 0.6);
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Ensure contents are hidden */
  z-index: 1100;

  .container-expandable {
    padding: 10px 0 10px 0;
  }

  &:hover {
    width: 50%;
  }

  .content {
    // opacity: 0; /* Hide content initially */
    transition: opacity 0.3s ease-in-out;
    // padding: 10px; /* Adjust padding as needed */
    text-align: center;
    background-image: url('concours26-complet.jpg');
    background-position: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    height: 80% !important;
  }

  @media (max-width: 1250px) {
    display: none;
  }
}
