.input-session {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
  transition: 0.3s;
  display: block;
  color: white !important;
  &:focus {
    border: 1px solid $orange;
  }
  &:hover {
    border: 1px solid $light-gray;
  }
}

.input-form {
  z-index: 100;
  width: 90%;
  padding: 12px;
  border: none;
  border-bottom: 1.5px solid #000000;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
  transition: 0.3s;
  display: block;
  color: black !important;

  // &::placeholder {
  //   color: $light-gray;
  // }


  &:hover {
    border: 1.5px solid $light-gray;
  }
}

.input-form-group {
  z-index: 100;
  width: 170px;
  padding: 12px;
  border: none;
  border-bottom: 1.5px solid #000000;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
  transition: 0.3s;
  display: block;
  color: black !important;

  // &::placeholder {
  //   color: $light-gray;
  // }


  &:hover {
    border: 1.5px solid $light-gray;
  }
}

.custom-hint {
  color: white;
  font-size: 12px;
  margin-top: 4px;
}

.input-btn {
  width: 230px !important;
  background-color: $orange;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 12px;
  &:hover {
    background-color: $light-gray;
  }
}

.label {
  margin: 0px 0px 8px 0px;
  color: black;
}

.address {
  margin-top: 16px;
}

.birthday-select {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#category {
  margin: auto;
  select {
    z-index: 100;
    width: 100%;
    height: 50px;
    padding: 12px;
    border: none;
    border-bottom: 1.5px solid #000000;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    color: black !important;
  }
}

#style {
  margin: auto;
  select {
    z-index: 100;
    width: 100%;
    height: 50px;
    padding: 12px;
    border: none;
    border-bottom: 1.5px solid #000000;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    color: black !important;
  }
}

#level {
  margin: auto;
  select {
    z-index: 100;
    width: 100%;
    height: 50px;
    padding: 12px;
    border: none;
    border-bottom: 1.5px solid #000000;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    color: black !important;

  }
}

.custom-file-input {
  position: relative;
  display: inline-block;

  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 50%;
    height: 28.5px;
    cursor: pointer;
  }

  .file-label {
    z-index: 100;
    height: 37px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: $black;
    border: none;
    border-bottom: 1.5px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    box-shadow:
    inset 1.5px 0px 15px rgba(0, 0, 0, 0.3),   /* Darker shadow near edge on the left */
    inset 1px 0px 10px rgba(255, 255, 255, 0), /* Middle shadow on the left */
    inset 1.5px 0px 5px rgba(255, 255, 255, 1),  /* Lighter shadow on the left */
    inset -1.5px 0px 15px rgba(0, 0, 0, 0.3),  /* Darker shadow near edge on the right */
    inset -1px 0px 10px rgba(255, 255, 255, 0), /* Middle shadow on the right */
    inset -0.5px 0px 5px rgba(255, 255, 255, 1);  /* Lighter shadow on the right */;
  }

  #file-name, #file-name1, #file-name2, #file-name3, #file-name4, #file-name5, #file-name6, #file-name7, #file-name8, #file-name9, #file-name10,
  #file-name11, #file-name12, #file-name13, #file-name14, #file-name15, #file-name16, #file-name17, #file-name18, #file-name19, #file-name20,
  #file-name21, #file-name22, #file-name23, #file-name24, #file-name25, #file-name26, #file-name27, #file-name28, #file-name29, #file-name30,
  #file-name31, #file-name32, #file-name33, #file-name34, #file-name35, #file-name36, #file-name37, #file-name38, #file-name39, #file-name40,
  #photo-name,  #photo-name1,  #photo-name2, #photo-name3, #photo-name4, #photo-name5, #photo-name6, #photo-name7, #photo-name8, #photo-name9, #photo-name10,
  #photo-name11, #photo-name12, #photo-name13, #photo-name14, #photo-name15, #photo-name16, #photo-name17, #photo-name18, #photo-name19, #photo-name20,
  #photo-name21, #photo-name22, #photo-name23, #photo-name24, #photo-name25, #photo-name26, #photo-name27, #photo-name28, #photo-name29, #photo-name30,
  #photo-name31, #photo-name32, #photo-name33, #photo-name34, #photo-name35, #photo-name36, #photo-name37, #photo-name38, #photo-name39, #photo-name40,
  #id-name, #id-name1, #id-name2, #id-name3, #id-name4, #id-name5, #id-name6, #id-name7, #id-name8, #id-name9, #id-name10,
  #id-name11, #id-name12, #id-name13, #id-name14, #id-name15, #id-name16, #id-name17, #id-name18, #id-name19, #id-name20,
  #id-name21, #id-name22, #id-name23, #id-name24, #id-name25, #id-name26, #id-name27, #id-name28, #id-name29, #id-name30,
  #id-name31, #id-name32, #id-name33, #id-name34, #id-name35, #id-name36, #id-name37, #id-name38, #id-name39, #id-name40 {

    margin-left: 10px;
    font-size: 16px;
    color: #666;
  }
}

.error-message {
  color: red;
  font-size: 0.9em;
  padding-top: 15px;
}

.form-container {
  width: 40%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;


  form {
    width: 100%;
    padding: 0;
    margin: auto;

    .inp {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;

      input {
        width: 60%;
        padding: 10px;
        margin: 10px 0;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid $orange;
        border-left: 2px solid $orange;
        background-color: rgb(229,229,229);
        border-radius: 5px;
        margin: auto;
        margin-bottom: 50px;
        font-family: "montserrat", Helvetica, "sans-serif";

        @media (max-width: 760px) {
          width: 100%;
          margin-bottom: 25px;
        }

        @media (max-width: 570px) {
          width: 100%;
          margin-bottom: 25px;
        }

        &:focus {
          text-decoration: none;
          border: none;
        }
      }

      textarea {
        width: 60%;
        padding: 10px;
        margin: 10px 0;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid $orange;
        border-left: 2px solid $orange;
        border-radius: 5px;
        background-color: rgb(229,229,229);
        margin: auto;
        margin-bottom: 35px;
        font-family: "montserrat", Helvetica, "sans-serif";

        @media (max-width: 570px) {
          width: 100%;
        }

        @media (max-width: 760px) {
          width: 100%;
        }

        &:focus {
          text-decoration: none;
          border: none;
        }
      }
    }

    .inp-btn {
      width: 60%;
      margin: auto;
      text-align: center;
      margin-bottom: 25px;
      color: black;

      input {
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        margin-top: 3Opx;
        color: #000;

        @media (max-width: 570px) {
          width: 50%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
        &:hover {
          margin-top: 3Opx;
          border-style: inset;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $orange;
          border-top: 2px solid $orange;
          color: $orange !important;
        }
      }
    }
  }
  @media (max-width: 760px) {
    width: 80%;
    margin-bottom: 30px;
  }
  @media (max-width: 570px) {
    width: 100%;
  }
}
