.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

/* Style the full-size image */
.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

/* Add a close button */
.lightbox:target {
  display: flex;
}

/* Style for the thumbnail */
.thumbnail {
  cursor: pointer;
  width: 150px;
}
